<div class="container">
        <footer class="footer-distributed">

                <div class="footer-right">
        
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
        
                </div>
        
                <div class="footer-left">
        
                    <p class="footer-links">
                        <a class="link-1" href="#">Home</a>
        
                        <a href="#">About</a>
        
                        <a href="#">Contact</a>
        
                        <a href="#">Our Work</a>
        
                        <a href="#">Packages</a>
        
                    </p>
        
                    <p>Pixel Monks &copy; 2018</p>
                </div>
        
            </footer>
</div>