<div class="container">
    <h3 class="text-center mb-5">{{heading}}</h3>
    <main class="grid">
        <img src="assets/{{name}}/1.jpg" alt="Sample photo">
        <img src="assets/{{name}}/2.jpg" alt="Sample photo">
        <img src="assets/{{name}}/3.jpg" alt="Sample photo">
        <img src="assets/{{name}}/4.jpg" alt="Sample photo">
        <img src="assets/{{name}}/5.jpg" alt="Sample photo">
        <img src="assets/{{name}}/6.jpg" alt="Sample photo">
        <img src="assets/{{name}}/7.jpg" alt="Sample photo">
        <img src="assets/{{name}}/8.jpg" alt="Sample photo">
        <img src="assets/{{name}}/9.jpg" alt="Sample photo">
        <img src="assets/{{name}}/10.jpg" alt="Sample photo">
      </main>
</div>
  