<div class="container mt-5">

  <form>
    <div class="row">

        
          <img src="./assets/contactus.jpg" alt="" class="mx-auto d-block img-fluid "/>
        
          
      <div class="col-md-12 mt-5">
       
            <div class="row">
                <div class="form-group col-md-6">
                    
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                  </div>
    
                <div class="form-group col-md-6">

                  <input type="number" class="form-control" id="phone" placeholder="Phone Number">
                </div>
            </div>
            
            <div class="form-group">
              
                <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Your email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

            <div class="form-group">
                <textarea  class="form-control"  placeholder="Message/Query"></textarea>
              </div>
            
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </div>
      
    </div>
  </form>
</div>