<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <img src="./assets/about.jpg" alt="" class="rounded-circle mx-auto d-block">
     <div class="col-md-6 offset-md-3 mt-3 font-Open-Sans">
        <h3>Kaushal Kumar</h3>
        <h6>(PHOTOGRAPHER)</h6>
        <p>Weddings provide the perfect opportunity for me to capture people in every universal human moments. 
          As a wedding photographer it allows me to anticipate exactly where to aim my camera, ensuring you
           get the moments you will treasure for generations. I thrive on the excitement and energy 
           of your wedding day, allow me to tap into the emotions of all that are present.  The honor of bein
          g your wedding photographer inspires me to strive for perfection as a witness to your 
          love and commitment.</p>
     </div>
      

    </div>
  </div>
</div>