img{
    width:160px;
}

.active{
    color:rgb(26, 26, 27);
    font-size: large;
}

.navbar-nav > li > a {
    color:#555555;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
}

@media only screen and (max-width:661px) {
    .show{
        top:0;
       opacity: 1;
       animation-name: menu;
       animation-duration: .4s;
       position: relative;
   }
   
   @keyframes menu {
       0%   {opacity: .2;top:-80px;}
       25%  {opacity: .4;top:-60px;}
       50%  {opacity: .6;top:-40px;}
       75%  {opacity: .8;top:-20px;}
       100% {opacity: 1;top:0px;}
   }
   
}
 
