@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spinnaker');
body{
    background-color: white;
    font-family: 'Spinnaker', sans-serif;
}

.font-Open-Sans{
    font-family: 'Open Sans', sans-serif;
}
.img-thumbnail{
    border: none;
}