<div class="container">
    <carousel>
        <slide *ngFor='let item of arrayOne(13) let i=index'>
            <img src="./assets/test/{{i+1}}.jpg" alt="responsive image" class="d-block img-fluid">
        </slide>
    </carousel>

        
    <div class=" content-justify text-justify  p-5 ">
        <h4 class=" text-center mb-4">Pixel Monks is a wedding photography studio located in Haldwani, India</h4>
        <p>We are a team of experienced and creative minds that work towards making your wedding an experience to be relished
            forever Our vision is to improve the wedding experience of couples everywhere with innovative services and consistent
            delivery in a professional way. Do contact us if you are looking for creating good memories for your wedding
            and our photographers and film-makers would love to work with you.</p>
    </div>




</div>