<carousel>
    <slide>
        
            <picture>
             <source srcset="./assets/5.jpeg" media="(min-width: 1400px)">
             <source srcset="./assets/5_1.jpeg" media="(min-width: 900px)">
              <source srcset="./assets/5_2.jpeg" media="(min-width: 577px)">
             <img srcset="./assets/5_3.jpeg" alt="responsive image" class="d-block img-fluid">
           </picture>

       </slide>

   <slide>
      
            <picture>
             <source srcset="./assets/8.jpeg" media="(min-width: 1400px)" class="img-fluid">
             <source srcset="./assets/8_1.jpeg" media="(min-width: 900px)">
              <source srcset="./assets/8_2.jpeg" media="(min-width: 577px)">
             <img srcset="./assets/8_3.jpeg" alt="responsive image" class="d-block img-fluid">
           </picture>
       </slide>
   
   <slide>
      
        <picture>
                <source srcset="./assets/7.jpeg" media="(min-width: 1400px)">
                <source srcset="./assets/7_1.jpeg" media="(min-width: 900px)">
                 <source srcset="./assets/7_2.jpeg" media="(min-width: 577px)">
                <img srcset="./assets/7_3.jpeg" alt="responsive image" class="d-block img-fluid">
              </picture>
   </slide>
  


</carousel>
  



<!--<div class="container-fluid text-center">
<p>Full width carousel with a maximum height and art direction. Resize window to see image change based on the size of the window.</p>
</div>!-->