
  .img-fluid {
    width:100%;
  }
  
  .active{
    top:0;
   opacity: 1;
   animation-name: slide;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   position: relative;
}

@keyframes slide {
   0%   {right:-1000px;}
   100% {right:0px;}
}



.testimonials{
  padding-bottom: 2.2em; 
  text-align: center;
  color: #666;
}
.testimonials h1{
  color: #222;
  font-size: 1.3em;
}
.testimonials .test-body{padding: 1em;}
.testimonials .item{
  text-align: center;
  padding: 1em 0;
  background-color: #fbfbfb;
  margin: 1em;
  padding: 1em;
  border-radius: 6px;
  border-top-left-radius: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: inset 0px 0px 10px #e2dcdc;
}
.testimonials img{
  width: 4.8em;
  height: 4.8em;
  border-radius: 50%;
}

.testimonials .desig{
  font-size: 0.7em;
  padding: 0.5em 0;
  color: #777;
}
.testimonials .share{
  margin: 0 auto;
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials p{
  max-width: 27em;
  margin: 0 auto;
  font-size: 0.8em;
}


@media (min-width: 38.4rem){
  .testimonials{
      font-size: 1.2em;
  }
  .testimonials .test-body{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  .testimonials p{
      text-align: left;
      padding: 1em;
  }
}